Source: jbigkit
Priority: extra
Maintainer: Michael van der Kolff <mvanderkolff@gmail.com>
Build-Depends: debhelper (>=8.1.3), libtool
Standards-Version: 3.9.2
Section: libs
Homepage: http://www.cl.cam.ac.uk/~mgk25/jbigkit/
Vcs-Git: git://github.com/mvanderkolff/jbigkit-packaging.git
Vcs-Browser: https://github.com/mvanderkolff/jbigkit-packaging

Package: jbigkit-bin
Section: graphics
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: netpbm
Description: JBIGkit binaries
 JBIG-KIT provides a portable library of compression and decompression functions
 with a documented interface that you can include very easily into your image or
 document processing software.
 .
 This package contains the binaries from JBIG-KIT.

Package: libjbig-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libjbig0 (= ${binary:Version}), ${misc:Depends}
Description: JBIGkit development files
 JBIG-KIT provides a portable library of compression and decompression functions
 with a documented interface that you can include very easily into your image or
 document processing software.
 .
 This package contains the headers for the library.
 .
 Please note: There is no statically linked library in this package, and what
 was previously two libraries with a single common file has been merged into
 one library (libjbig).

Package: libjbig0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JBIGkit libraries
 JBIG-KIT provides a portable library of compression and decompression functions
 with a documented interface that you can include very easily into your image or
 document processing software.
 .
 This package contains the dynamically linked library.
